.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    --primary: hsl(322, 100%, 66%);
    --pale: hsl(193, 100%, 96%);
    --dark: hsl(192, 100%, 9%);
    --blue: hsl(208, 11%, 55%);
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

body h1,
body h2,
body h3 {
    font-family: 'Poppins', sans-serif;
}

.hero {
    padding: 30px 60px;
    background-image: linear-gradient(hsla(209, 62%, 67%, 0.25), hsla(209, 62%, 67%, 0.25)), url(images/bg-hero-desktop.svg);
    background-position: center;
    background-size: cover;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head img {
    width: 150px;
}

.head a button {
    font-weight: 600;
    background: white;
    padding: 10px 40px;
    border: none;
    outline-style: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: color .2s ease;
}

.head a button:hover {
    color: var(--blue);
}

.hero-hero {
    margin: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.hero-text {
    min-width: 250px;
}

.hero-text h1 {
    font-size: 50px;
    margin-top: 80px;
}

.hero-text p {
    margin: 20px 0;
}

.hero-img {
    text-align: right;
}

.hero-img img {
    max-width: 700px;
}

.hero-text a button {
    background-color: var(--primary);
    outline-style: none;
    border: none;
    color: var(--pale);
    font-weight: 700;
    border-radius: 30px;
    padding: 15px 45px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.hero-text a button:hover {
    background-color: hsla(322, 100%, 66%, 0.7);
}

.cards {
    padding: 150px 60px 100px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 30px 80px;
    border-radius: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 40px 0;
}

.card-content {
    min-width: 250px;
}

.card-content p {
    max-width: 500px;
}

.card-img {
    text-align: center;
}

.card-img img {
    width: 100%;
    height: auto;
}

footer {
    background-color: var(--dark);
    height: 200px;
}

@media (max-width: 1100px) {
    .card,
    .hero-hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-img {
        text-align: center;
        margin: 20px 0;
    }

    .hero-img img {
        width: 100%;
        height: auto;
    }

    .card {
        padding: 40px 30px;
    }

    .cards {
        padding: 100px 40px 50px;
    }

    .card-content p {
        margin: 15px auto 30px;
    }

    .card-content h2 {
        margin-top: 15px;
    }

    .card-img {
      order: 0;  
    }

    .card-content {
        order: 1;
    }
}

@media (max-width: 650px) {
    .head img,
    .head a {
        width: 100px;
    }

    .head a button {
        font-size: 12px;
        padding: 5px 15px;
    }

    .hero-text h1 {
        font-size: 25px;
    }

    .cards {
        padding: 100px 20px 50px;
    }

    .hero {
        padding: 20px 30px;
    }

    .hero-hero {
        margin: 15px 0 30px;
    }

    .hero-text p {
        font-size: 80%;
    }

    .card {
        font-size: 80%;
    }
}